<table>{{results}}</table>
<table class="table container">
  <thead>
    <tr>
        {{#each header}}
        <li> <th scope="col">{{this}}</th></li>
        {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>