<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="user-password">Password</label>
    <input type="password" class="form-control" id="user-password">
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>