body {
    width: 100vw;
    height: auto;    
}

header .row {
    width: 100vw;
}

nav {
    width: 90vw;
}

.navbar {
    background-color: #85bb65;
}

.navbar-brand {
    font-size: 2rem;
}

.jumbotron {
    max-width: 90vw;
    margin: 0 auto;
    background-image: url("./images/business-5475664_1920.jpg;");
    background: cover center;
    background-color: #85bb65;
}

form {
    width: 90vw;
}

footer {
    font-size: .8rem;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
}