body {
    margin: 0;
    padding: 0;   
}

header .row {
    width: 100vw;
}

nav {
    width: 90vw;
}

.navbar {
    background-color: #85bb65;
}

.navbar-brand {
    font-size: 2rem;
}

.jumbotron {
    max-width: 90vw;
    margin: 0 auto;
    background-image: url("../images/business-5475664_1920.png");
    background: cover center;
    margin-bottom: 2rem;
    border-radius: 0 0 6px 6px;
}

footer {
    font-size: .8rem;
}

@media screen and (max-width: 768px) {

    .navbar-brand {
        font-size: 1.5rem;
    }

    .jumbotron {
        background: fill center right;
    }
    .jumbotron .display-5 {
        font-size: 2rem !important;
    }

    .jumbotron p {
        font-size: .8rem;
    }
}